@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

header {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: rgb(95, 8, 188);
  color: white;
}

body {
  background-color: rgb(203, 35, 236);
  color: white;
}

section,
body,
.textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: 700px;
  padding: 20px;
}

div {
  padding: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
}

button {
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: green;
  color: white;
}

textarea {
  padding: 20px;
  font-size: 25px;
}

@media only screen and (max-width: 500px) {
  header {
    font-size: 1.5rem;
  }
  button {
    width: 45%;
  }
  input,
  label {
    font-size: 1rem;
  }
  section {
    width: 98%;
  }
  textarea {
    width: 90%;
  }
}

@media only screen and (min-width: 501px) {
  header {
    font-size: 3rem;
  }
  button {
    width: 20%;
  }
  input,
  label {
    font-size: 1.5rem;
  }
  section {
    width: 80%;
  }
  textarea {
    width: 60%;
  }
}
